# Server
API_PORT=4000
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://user:database_password@localhost:5432/database_name"

# Auth (JWT)
JWT_SECRET="generate-secure-random-string-min-32-chars"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
SALT_ROUNDS=10

ALLOWED_ORIGINS=""


CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
